@import "tailwindcss";

body {
  background-color: #0f172a;   /* deep dark blue */
  color: #f8fafc;              /* soft white text */
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
